<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Vue.js sample</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

  <style>
    .strike-through {
      text-decoration: line-through;
      color: lightgray;
    }

    .dark {
      background-color: gray;
    }

  </style>
</head>

<body>
  <div id="app">

    <h2>[v-else]trueとfalseで表示を切り替える</h2>
    <label>
      <input type="checkbox" v-model="myVisible" />表示する
    </label>
    <p v-if="myVisible">{{myVisible}}</p>
    <p v-else>{{myVisible}}</p>

    <h2>[v-if]trueのときだけ表示する</h2>
    <label>
      <input type="checkbox" v-model="myVisible" />表示する
    </label>
    <p v-if="myVisible">{{myVisible}}</p>

    <h2>[v-on.keycode.keycode]キーコンビネーション(Shift+Enter)でアラートを表示する</h2>
    <input @keyup.enter.shift="showAlert" v-model="myText" />

    <h2>[v-on.keycode]エンターキーを押したらアラートを表示する</h2>
    <input @keyup.enter="showAlert" v-model="myText" />

    <h2>[v-on]クリックしたら値を色々増やす</h2>
    <p>{{count}}</p>
    <button @click="countUp(3)">+ 3</button>
    <button @click="countUp(10)">+ 10</button>
    <button @click="countUp(100)">+ 100</button>

    <h2>[v-on]クリックしたら1増やす</h2>
    <p>{{count}}</p>
    <button @click="countUp()">+ 1</button>

    <h2>[v-model.trim]前後の空白を自動的にトリムする</h2>
    <label><input v-model.trim="myText">前後の空白をトリム</label>
    <label><input v-model="myText">前後の空白をトリムしない</label>
    <p>前後の空白をトリム:{{myText}}</p>

    <h2>[v-model.number]入力を自動的に数値に変換する</h2>
    <label><input v-model.number="myNumber">数値に変換</label>
    <label><input v-model="myNumber" type="number">数値に変換しない（文字列扱い）</label>
    <p>999を足して表示:{{999 + myNumber}}</p>

    <h2>[v-model.lazy]全部書き終わってから（Enterキーを押すかフォーカスが外れたら）入力する</h2>
    <input v-model.lazy="myText">
    <p>入力後に表示:{{myText}}</p>

    <h2>[v-model]複数の選択を配列にする</h2>
    <select v-model="mySelectColors" multiple>
      <option selected disabled value="">Select a color</option>
      <option>red</option>
      <option>green</option>
      <option>blue</option>
      <option>orange</option>
      <option>brown</option>
    </select>
    <p>選択した色：{{mySelectColors}}</p>

    <h2>[v-model]文字列が選択した色に変わる</h2>
    <select v-model="mySelectColor">
      <option selected disabled value="">Select a color</option>
      <option>red</option>
      <option>green</option>
      <option>blue</option>
      <option>orange</option>
      <option>brown</option>
    </select>
    <p :style="{color:mySelectColor}">選択した色：{{mySelectColor}}</p>

    <h2>[v-model]画像の表示をラジオボタンで切り替える</h2>
    <label>
      <input type="radio" value="face1.png" v-model="fileName" />
      face1
    </label><label>
      <input type="radio" value="face2.png" v-model="fileName" />
      face2
    </label>
    <p>選択したのは、{{fileName}}</p>
    <p><img :src='fileName' /></p>

    <h2>[v-model]選択したラジオボタンを表示する</h2>
    <label>
      <input type="radio" value="red" v-model="picked" />
      赤
    </label><label>
      <input type="radio" value="green" v-model="picked" />
      緑
    </label><label>
      <input type="radio" value="blue" v-model="picked" />
      青
    </label>
    <p>選択したのは、{{picked}}</p>

    <h2>[v-model]同意にチェックを入れたら送信ボタンが有効になる</h2>
    <label><input type="checkbox" v-model="myAgree" />同意します</label>
    <button :disabled='!myAgree'>送信</button>

    <h2>[v-model]複数のチェックボックスのONを配列にする</h2>
    <label>
      <input type="checkbox" value="red" v-model="myChecks" />
      赤
    </label><label>
      <input type="checkbox" value="green" v-model="myChecks" />
      緑
    </label><label>
      <input type="checkbox" value="blue" v-model="myChecks" />
      青
    </label>
    <p>選択したのは、{{myChecks}}</p>

    <h2>[v-model]チェックボックスのON/OFFを調べる</h2>
    <label>
      <input type="checkbox" v-model="myCheck" />
      チェックボックスは、{{myCheck}}です
    </label>


    <h2>[v-model]入力した文章と文字数を表示する</h2>
    <textarea v-model="myText"></textarea>
    <p>文章は、{{myText}}です</p>
    <p>文字数は、{{myText.length}}です</p>

    <h2>[v-model]入力した文字列を表示する</h2>
    <input v-model="myName" placeholder="お名前" />
    <p>私は、{{myName}}です</p>


    <h2>[v-bind]クラス名を分岐</h2>
    <p :class="{'strike-through':isOn}">データでクラスをon/off</p>

    <h2>[v-bind]クラス名を指定する</h2>
    <p class="strike-through">直接指定</p>
    <p :class="myClass">v-bindで指定</p>
    <p :class="[myClass,darkClass]">v-bindで複数のクラスを指定</p>
    <p :class="myClass">v-bindで指定</p>

    <h2>[v-bind]インラインスタイルを指定する</h2>
    <p style="color: #e08000">文字色を直接指定</p>
    <p :style="{color:myColor}">文字色をv-bindで指定</p>

    <h2>[v-bind]リンク先を指定する</h2>
    <p><a href="https://www.ymori.com">リンクを直接指定</a></p>
    <p><a v-bind:href="myURL">リンクをv-bindで指定</a></p>

    <h2>[v-bind]画像urlを指定する</h2>
    <p><img src='face1.png'>直接指定</img></p>
    <p><img v-bind:src='fileName'>v-bindで指定</img></p>

    <h2>オブジェクトデータの中身を確認する</h2>
    {{ $data }}
    <hr />
    <li v-for="(item,key) in $data">{{key}}:{{item}}</li>

    <h2>JSで用意したデータを表示する</h2>
    <p>{{myTeaList[1].name}} ¥{{myTeaList[1].price}}</p>

    <h2>オブジェクトデータを表示する</h2>
    <p>{{myTea}}</p>
    <p>{{myTea.name}}</p>

    <h2>配列の値を表示する</h2>
    <p>{{myArray}}</p>
    <p>{{myArray[0]}}</p>

    <h2>Javascriptの式を使って表示する</h2>
    <p>{{myPrice*1.08}}</p>
    <p>{{'こんにちは、'+myName+'さん'}}</p>
    <p>{{myName.substr(0,1)}}</p>

    <h2>いろいろな型のデータを表示する</h2>
    <p>{{myNumber}}</p>
    <p>{{myText}}</p>
    <p>{{myBool}}</p>

    <h2>データをHTMLで表示する例</h2>
    <p v-html="myHtml"></p>

    <h2>データをそのままv-text(ディレクティブ)で表示する</h2>
    <p v-text="myText"></p>

    <h2>データをそのままマスタッシュタグで表示する</h2>
    <p>{{ myText }}</p>
  </div>
</body>

<script>

  // ハイライトを実行
  hljs.initHighlightingOnLoad();
  const initClickOnce = () => alert('いいね')

  const teaList = [
    { name: "ダージリン", price: 600 },
    { name: "アールグレイ", price: 500 },
    { name: "セイロン", price: 500 },
  ];
  new Vue({
    el: "#app",
    data: {
      myVisible: false,
      isClicked: false,
      count: 0,
      mySelectColors: [],
      mySelectColor: '',
      picked: 'red',
      myAgree: false,
      myChecks: [],
      myCheck: false,
      myClass: "strike-through",
      darkClass: "dark",
      isOn: true,
      myColor: "#E08000",
      myURL: "https://www.ymori.com",
      fileName: 'face1.png',
      myTeaList: teaList,
      myTea: { name: 'ダージリン', price: 600 },
      myArray: ['ダージリン', 'アールグレイ', 'セイロン'],
      myPrice: "500",
      myName: "桃太郎",
      myNumber: "12345",
      myText: "Hello",
      myBool: true,
      myHtml: "<h1>Hello</h1>",
      myText: "Hello",
    },
    methods: {
      showAlert: function () { alert('Enterキーを押しました') },
      countUp: function (value = 1) { this.count += value },
      clickOnce: function () { this.isClicked = true; initClickOnce() }
    }
  });
</script>

</html>
