<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Vue.js sample</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

  <style>
    .strike-through {
      text-decoration: line-through;
      color: lightgray;
    }

    .dark {
      background-color: gray;
    }

  </style>
</head>

<body>
  <div id="app">

    <h2>[v-model]同意にチェックを入れたら送信ボタンが有効になる</h2>
    <label><input type="checkbox" v-model="myAgree" />同意します</label>
    <button :disabled='!myAgree'>送信</button>

    <h2>[v-model]複数のチェックボックスのONを配列にする</h2>
    <label>
      <input type="checkbox" value="red" v-model="myChecks" />
      赤
    </label><label>
      <input type="checkbox" value="green" v-model="myChecks" />
      緑
    </label><label>
      <input type="checkbox" value="blue" v-model="myChecks" />
      青
    </label>
    <p>選択したのは、{{myChecks}}</p>

    <h2>[v-model]チェックボックスのON/OFFを調べる</h2>
    <label>
      <input type="checkbox" v-model="myCheck" />
      チェックボックスは、{{myCheck}}です
    </label>


    <h2>[v-model]入力した文章と文字数を表示する</h2>
    <textarea v-model="myText"></textarea>
    <p>文章は、{{myText}}です</p>
    <p>文字数は、{{myText.length}}です</p>

    <h2>[v-model]入力した文字列を表示する</h2>
    <input v-model="myName" placeholder="お名前" />
    <p>私は、{{myName}}です</p>


    <h2>[v-bind]クラス名を分岐</h2>
    <p :class="{'strike-through':isOn}">データでクラスをon/off</p>

    <h2>[v-bind]クラス名を指定する</h2>
    <p class="strike-through">直接指定</p>
    <p :class="myClass">v-bindで指定</p>
    <p :class="[myClass,darkClass]">v-bindで複数のクラスを指定</p>
    <p :class="myClass">v-bindで指定</p>

    <h2>[v-bind]インラインスタイルを指定する</h2>
    <p style="color: #e08000">文字色を直接指定</p>
    <p :style="{color:myColor}">文字色をv-bindで指定</p>

    <h2>[v-bind]リンク先を指定する</h2>
    <p><a href="https://www.ymori.com">リンクを直接指定</a></p>
    <p><a v-bind:href="myURL">リンクをv-bindで指定</a></p>

    <h2>[v-bind]画像urlを指定する</h2>
    <p><img src='face1.png'>直接指定</img></p>
    <p><img v-bind:src='fileName'>v-bindで指定</img></p>

    <h2>オブジェクトデータの中身を確認する</h2>
    {{ $data }}
    <hr />
    <li v-for="(item,key) in $data">{{key}}:{{item}}</li>

    <h2>JSで用意したデータを表示する</h2>
    <p>{{myTeaList[1].name}} ¥{{myTeaList[1].price}}</p>

    <h2>オブジェクトデータを表示する</h2>
    <p>{{myTea}}</p>
    <p>{{myTea.name}}</p>

    <h2>配列の値を表示する</h2>
    <p>{{myArray}}</p>
    <p>{{myArray[0]}}</p>

    <h2>Javascriptの式を使って表示する</h2>
    <p>{{myPrice*1.08}}</p>
    <p>{{'こんにちは、'+myName+'さん'}}</p>
    <p>{{myName.substr(0,1)}}</p>

    <h2>いろいろな型のデータを表示する</h2>
    <p>{{myNumber}}</p>
    <p>{{myText}}</p>
    <p>{{myBool}}</p>

    <h2>データをHTMLで表示する例</h2>
    <p v-html="myHtml"></p>

    <h2>データをそのままv-text(ディレクティブ)で表示する</h2>
    <p v-text="myText"></p>

    <h2>データをそのままマスタッシュタグで表示する</h2>
    <p>{{ myText }}</p>
  </div>
</body>

<script>

  // ハイライトを実行
  hljs.initHighlightingOnLoad();

  const teaList = [
    { name: "ダージリン", price: 600 },
    { name: "アールグレイ", price: 500 },
    { name: "セイロン", price: 500 },
  ];
  new Vue({
    el: "#app",
    data: {
      myAgree: false,
      myChecks: [],
      myCheck: false,
      myClass: "strike-through",
      darkClass: "dark",
      isOn: true,
      myColor: "#E08000",
      myURL: "https://www.ymori.com",
      fileName: 'face1.png',
      myTeaList: teaList,
      myTea: { name: 'ダージリン', price: 600 },
      myArray: ['ダージリン', 'アールグレイ', 'セイロン'],
      myPrice: "500",
      myName: "桃太郎",
      myNumber: "12345",
      myText: "Hello",
      myBool: true,
      myHtml: "<h1>Hello</h1>",
      myText: "Hello",
    },
  });
</script>

</html>
