@charset 'UTF-8';
html{
  width: 80%;
  margin:auto;

}

h2{
  background-color: cadetblue;
  padding:0.2em 0.5em ;
}
button{
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  color:white;
  border: 2px;
  background-color: darkcyan;
  transition: all .2s;
}
button:hover{
  background-color: aquamarine;
}
button:active{
  background-color: darkcyan;
}
button:disabled{
  opacity: 5;
  pointer-events: none;
}
input{
  padding: 6px 12px;
  border-radius: 6px;
  border:2px solid darkcyan;
}
textarea{
  width: 10rem;
  height: 5rem;

}
select{
  border: 2px solid darkcyan;
}
